Screen {
  align: center middle;
}

Container.center-box {
  background: $boost;
  height: auto;
  max-width: 100;
  min-width: 40;
  border: wide $primary;
  padding: 1 2;
  margin: 1 2;
  box-sizing: border-box;
}

Label {
  margin: 0 4 1 4;
  text-style: bold;
}

Input {
  margin: 0 4 1 4;
}

LocationSearch {
  height: 5;
}

Dropdown {
  width: 60%;
}

Dropdown .autocomplete--right-column {
  color: $text-disabled 0%;
}

ForecastDayView {
  height: auto;
  width: auto;
  border: vkey $primary;
}

DataTable {
  height: auto;
  width: auto;
}

ForecastScreen > Tabs {
  width: 95%;
}

ForecastScreen > Horizontal {
  background: $boost;
  height: 16;
  width: 95%;
}

ForecastScreen > Horizontal > HorizontalScroll {
  width: 1fr;
}

ForecastLabels {
  height: auto;
  width: auto;
  border: vkey $primary;
}
